__pycache__/seleccion.cpython-311.pyc
__pycache__/*
.ipynb_checkpoints/*
*.pyc
*-checkpoint.ipynb
.pdf
datos/loc_muestra_ageb_s42_rural_conselec_loc_v3.csv
datos/cortes/*
datos/marco_ampliado.pkl
../.DS_Store
.DS_Store
*.png
*.zip
enasama2023/*.png

enasama2023/Individuo/base_analisis_0702.pkl
enasama2023/Individuo/base_factores_0703.pkl
